<<<<<<< HEAD
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
=======
@import "tailwindcss";
>>>>>>> 1342fe2573a7b00321d7aaca583e3aa30f571559
